body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f5f5f5;
}

/* navbar content */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
    padding-left: 10%;
    z-index: 1;
}

header * {
    color: #e16f5a;
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
}

/* intro content */
.intro, h2 {
    font-family: Lato;
}

.intro {
    text-align: center;
}

#mainImage {
    background-image: url(img/mainHeader.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    background-size:100% 100%;
}

#mainHeader {
    color: white;
    padding-right: 10%;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 25%;
}

/* fact content */

.factLine {
    height: 6px;
    color: #bbc437;
    background-color: #bbc437;
    border: none;
    max-width: 25%;
    text-align: left;
    margin-left: 0;
  
}

#facts {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.factNum {
    font-size: 60px;
    color: #cc3e16;
    font-size: 4.4vw;
}

.textHeaders {
    font-size: 2.2vw;
    font-weight: 600;
}

.factTextPara {
    font-size: 1.5vw;
}


/* mission content */

.mission {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    position: relative;
}

.mission-header {
    color: #e16f5a;
}

.mission-content {
    width: 65%;
    height: 250.5px;
    background-color: white;
    margin-left: 6%;
    padding-left: 4%;
    padding-top: 2%;
    float: left;
}

.mission-paragraph {
    margin-right: 20%;
}

.missionImage {
    width: 540px;
    height: 750px;
}

.missionLogo {
    width: 350px;
    height: 170px;
}

/* 5 section content */

#reasonRow {
    margin-top: 3%;
}

.reasonSection {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.reasons {
    min-width: 600px;
    min-height: 450px;
    box-shadow: 2px -2.5px 2px 0
        rgba(0, 0, 0, 0.15), 0 1px 2px 0
        rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    height: 100%;

}

#reasonTitleButtonLeft {
    margin-top: 5%;
    margin-bottom: 5%;
}

.reasonLogosLeft {
    margin-top: 5%;
    margin-left: 5%;
}

#reasonTitleButtonRight {
    margin-top: 5%;
    margin-bottom: 5%;
}

.reasonLogosRight {
    margin-top: 5%;
    margin-left: 85%;
}

.reasonImages {
    min-width: 600px;
    min-height: 450px;
    width: 100%;
    height: 100%;
}
/* sticker context */

.sticker {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 432px;
    box-shadow: -2.5px 2px 4px 0
        rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}


/* tests content */

.testLine {
    height: 6px;
    color: darkblue;
    background-color: darkblue;
    border: none;
    max-width: 43%;
    text-align: left;
    margin-left: 0;
  
}

.tests {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.testBoxes {
    width: 610px;
    height: 460px;
    box-shadow: -2.5px 2px 4px 0
        rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
}

.testHeader {
    border-bottom: 1px solid black;
}


/* footer */
footer {
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
    color: white;
}