body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f8f8f8;
    font-family: 'Fjalla One';
}

.paddingSection {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.sectionWhite {
    background-color: #ffffff;
}

.svgButton {
    cursor:pointer;
}

/* navbar content */
header {
    background-color: white;
    height: 80px;
    z-index: 1;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    
}

header * {
    color: #363636;
    display: inline-block;
}

header > nav {
    width:100%;
    height: 100%;
}
 
header li {
    margin-top: 20px;
    margin-right: 20px;
}

header li a {
    text-decoration: none;
    font-size: 16px;
}

.navImg {
    width: 100%;
    height: 50px;
}

#mainImage {
    background-image: url(img/mainHeader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.774);
    height: 600px;
    background-size:100% 100%;
    margin-bottom: 0;
}

#mainHeader {
    color: white;
    padding-right: 10%;
    margin-top: 22%;
    margin-left: 10%;
    margin-right: 25%;
    line-height: 1.4;
}

#mainHeader > div > h1 {
    line-height: 1.3;
}

.mainHeaderBtn {
    width: 250px;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 22px;
    border: none;
    color: #155777;
}

.mainHeaderTextP {
    font-size: 1rem;
}

/* fact content */

.factLine {
    height: 6px;
    color: #bbc437;
    background-color: #bbc437;
    border: none;
    max-width: 25%;
    text-align: left;
    margin-left: 0;
  
}

.factNum {
    font-size: 60px;
    color: #cc3e16;
    font-size: 4.4vw;
}

.textHeaders {
    font-size: 2.1vw;
    font-weight: 600;
}

.textParagraphs {
    font-size: 1.3vw;
    font-family: 'DDINRegular'; 
}


/* mission content */

.mission {
    display: inline-block;
    position: relative;
}

.mission-header {
    color: #e16f5a;
}

.mission-content {
    width: 65%;
    height: 250.5px;
    background-color: white;
    margin-left: 6%;
    padding-left: 4%;
    padding-top: 2%;
    float: left;
}

.mission-paragraph {
    margin-right: 20%;
}

.missionImage {
    min-width: 405px;
    min-height: 350px;
    width: 100%;
    height: 100%;
}

.missionLogo {
    width: 350px;
    height: 170px;
}

/* 5 section content */

#reasonRow {
    margin-top: 3%;
}

.reasons {
    box-shadow: 2px -2.5px 2px 0
        rgba(0, 0, 0, 0.15), 0 1px 2px 0
        rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#reasonTitleButton {
    margin-top: 5%;
    margin-bottom: 5%;
}

.reasonLogosRight {
    margin-top: 5%;
    margin-left: 85%;
}

.reasonDivs {
    min-width: 405px;
    min-height: 350px;
    width: 100%;
    height: 100%;
}
/* sticker context */

#sticker {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 500px;
    height: auto;
    box-shadow: -2.5px 2px 4px 0
        rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.stickerImage {
    width: 100%;
    height: 100%;
}

/* tests content */

.testLine {
    height: 6px;
    color: #155777;
    background-color: #155777;
    border: none;
    max-width: 33%;
    text-align: left;
    margin-left: 0;
  
}

.testBoxes {
    min-width: 405px;
    min-height: 375px;
    box-shadow: -2.5px 2px 4px 0
        rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.testTextHeaders {
    font-size: 1.5vw;
    font-weight: 400;
}

.testHeaderLine {
    color: #E1E1E1;
    background-color: #E1E1E1;
}


/* footer */
footer {
    height: 300px;
    background-color: black;
    color: white;
    padding-top: 30px;
}

.footerLinks {
    border-left: 1px solid white;
}

ul {
    list-style-type: none;
    line-height: 2.5em;
}

.footerText {
    margin-left: 10%;
}

#listHeader {
    font-size: 1.4vw;
}

@media (min-width: 768px) and (max-width: 991px) {
    #mainHeader {
        color: white;
        padding-right: 10%;
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 18%;
        line-height: 1.4;
    }

    .mainHeaderTextH {
        font-size: 2rem;
    }

    .mainHeaderTextP {
        font-size: 1.2rem;
    }

}

@media (min-width: 992px) and (max-width: 1199px) { 

        #mainHeader {
            color: white;
            padding-right: 10%;
            margin-top: 28%;
            margin-left: 10%;
            margin-right: 25%;
            line-height: 1.4;
        }
    
        .mainHeaderTextH {
            font-size: 2.2rem;
        }
}

@media (min-width: 1200px) { 
    
        .mainHeaderTextH {
            font-size: 2.5rem;
        }
    }