body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f8f8f8;
    font-family: 'Fjalla One';
}


.sectionWhite {
    background-color: #ffffff;
}

.svgButton {
    cursor:pointer;
}

/* navbar content */
header {
    background-color: white;
    height: 80px;
    z-index: 1;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    
}

header * {
    color: #363636;
    display: inline-block;
}

header > nav {
    width:100%;
    height: 100%;
}
 
header li {
    margin-top: 20px;
    margin-right: 20px;
}

header li a {
    text-decoration: none;
    font-size: 1.3vw;
}

.listHeight {
    line-height: 1.4;
}

.navImg {
    width: 100%;
    height: 80px;
}

.navFontBtn {   
    width: 100%;
    height: 9vh;
}

.navTestBtn {
    width: 100%;
    height: 10vh;
}

.textParagraphs {
    font-size: 1.3vw;
    font-family: 'DDINRegular'; 
}

/* mission content */

.welcome {
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 175px;
    margin-right: 175px;
}

.missionImage {
    min-width: 405px;
    min-height: 350px;
    width: 100%;
    height: 100%;
}

.welcomeHeaders {
    font-size: 2.5vw;
    line-height: 1.3;
    font-weight: 600;
}

/* description content */

.description {
    display: inline-block;
    margin-bottom: 150px;
    margin-left: 175px;
    margin-right: 175px;
}

.descHeaders {
    font-size: 1.8vw;
    font-weight: 600;
}

/* 5 reason section */

.fiveReason {
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 175px;
}

/* reason 1 seciton */

.blocks {
    display: inline-block;
    margin-left: 175px;
    margin-bottom: 50px;
}

.logoSize {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
}

.rightLogo1 {
    margin-top: 35%;   
}

.leftLogo2 {
    margin-top: 5%;   
}

.rightLogo3 {
    margin-top: 5%;   
}

.leftLogo4 {
    margin-top: 5%;   
}

.rightLogo5 {
    margin-top: 5%;   
}

/* download Div */

.downloadDiv {
    margin-left: 1705px;
}





/* footer */
footer {
    height: 300px;
    background-color: black;
    color: white;
    padding-top: 30px;
}

.footerLinks {
    border-left: 1px solid white;
}

ul {
    list-style-type: none;
    line-height: 2.5em;
}

.footerText {
    margin-left: 10%;
}

#listHeader {
    font-size: 1.4vw;
}
